src/META-INF/wsdl/169.254.209.54_8080/Serverwebservice/rules.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pack1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pack1/" name="rules">
<types>
<xsd:schema>
<xsd:import namespace="http://pack1/" schemaLocation="http://169.254.209.54:8080/Serverwebservice/rules?xsd=1"/>
</xsd:schema>
</types>
<message name="webrule">
<part name="parameters" element="tns:webrule"/>
</message>
<message name="webruleResponse">
<part name="parameters" element="tns:webruleResponse"/>
</message>
<message name="depositrule">
<part name="parameters" element="tns:depositrule"/>
</message>
<message name="depositruleResponse">
<part name="parameters" element="tns:depositruleResponse"/>
</message>
<message name="wdrawlow">
<part name="parameters" element="tns:wdrawlow"/>
</message>
<message name="wdrawlowResponse">
<part name="parameters" element="tns:wdrawlowResponse"/>
</message>
<message name="amdate">
<part name="parameters" element="tns:amdate"/>
</message>
<message name="amdateResponse">
<part name="parameters" element="tns:amdateResponse"/>
</message>
<message name="fundrule">
<part name="parameters" element="tns:fundrule"/>
</message>
<message name="fundruleResponse">
<part name="parameters" element="tns:fundruleResponse"/>
</message>
<portType name="rules">
<operation name="webrule">
<input wsam:Action="http://pack1/rules/webruleRequest" message="tns:webrule"/>
<output wsam:Action="http://pack1/rules/webruleResponse" message="tns:webruleResponse"/>
</operation>
<operation name="depositrule">
<input wsam:Action="http://pack1/rules/depositruleRequest" message="tns:depositrule"/>
<output wsam:Action="http://pack1/rules/depositruleResponse" message="tns:depositruleResponse"/>
</operation>
<operation name="wdrawlow">
<input wsam:Action="http://pack1/rules/wdrawlowRequest" message="tns:wdrawlow"/>
<output wsam:Action="http://pack1/rules/wdrawlowResponse" message="tns:wdrawlowResponse"/>
</operation>
<operation name="amdate">
<input wsam:Action="http://pack1/rules/amdateRequest" message="tns:amdate"/>
<output wsam:Action="http://pack1/rules/amdateResponse" message="tns:amdateResponse"/>
</operation>
<operation name="fundrule">
<input wsam:Action="http://pack1/rules/fundruleRequest" message="tns:fundrule"/>
<output wsam:Action="http://pack1/rules/fundruleResponse" message="tns:fundruleResponse"/>
</operation>
</portType>
<binding name="rulesPortBinding" type="tns:rules">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="webrule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depositrule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="wdrawlow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="amdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fundrule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="rules">
<port name="rulesPort" binding="tns:rulesPortBinding">
<soap:address location="http://169.254.209.54:8080/Serverwebservice/rules"/>
</port>
</service>
</definitions>